.App {
  text-align: center;
}

#display{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: steelblue;
    cursor: none;
}

#controls{
    width: 30vw;
    height: 75px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: lightgray;
}

#myImg{
    position: absolute;
}

.allImgs{
    position: absolute;
}